body{
  font-family: sans-serif;
}
#after_submit{
  visibility: hidden;
}
body{
  background-image: url("fol/is2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#form{
  padding: 2px;
  border: 3px;
  margin: 5px;
}
strong{
  background-color: pink;
}
.test-showing{
  display: visible;
p {
cursor: pointer;
color: #0088cc;
}

p:hover {
text-decoration: underline;
}
body{
  margin: 0;
}
