body{
  font-family: sans-serif;
}
#after_submit{
  visibility: hidden;
}
body{
  background-image: url("fol/is2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
contact{
  background-color: pink;
}
